.ai-fab-sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 20px;
    right: 20px;
}

.mug-preview-sprite {
    background-image: url('https://i.imgur.com/2q2G51g.png');
    background-size: auto 100%;
    animation: spin360 4s steps(29) infinite;
}

.mug-preview-design {
    background-size: cover;
    background-position: center;
    -webkit-mask-image: url('https://i.imgur.com/2q2G51g.png');
    mask-image: url('https://i.imgur.com/2q2G51g.png');
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    animation: spin360 4s steps(29) infinite;
}
